<nav class="navbar navbar-expand-lg navbar-dark bg-success"  >
  <a class="navbar-brand" href="#">Angular 7</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employeelist" routerLinkActive="active">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/departmentlist" routerLinkActive="active">Departments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/designationlist" routerLinkActive="active">Designations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/photos" routerLinkActive="active">Gallary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store" routerLinkActive="active">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>

    </ul>

  </div>
</nav>

