<p>
  data-list works!
</p>

<div class="container">
  <div class="row p-2">
    <div class="col-sm">
      <h2>{{title}}</h2>
    </div>
    <div class="col-sm" align="right">
      <button type="button" class="btn btn-success" (click)="getForm()">Add New</button>
    </div>

  </div>


  <div class="row">
    <div class="col-sm">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-body">

            <form>
              <table class="table table-sm table-bordered table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                  <th *ngFor="let Heading of DataListHeading " scope="col">{{Heading | titlecase}}</th>
                  <th width="10%" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let key of DataList">
                  <td *ngFor="let data of DataListHeading">
                    {{key[data]}}
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-warning"><li class="fa fa-edit"></li></button>&nbsp;
                    <button type="button" class="btn btn-sm btn-danger"><li class="fa fa-trash"></li></button>
                  </td>
                </tr>
                </tbody>
              </table>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>


