<div class="container">
  <div class="row">
    <div class="col-md-12" >

        <h2>{{title}}</h2>
        <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-body">

              <form>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Designation Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="">
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-primary">Save</button> &nbsp;
                    <button type="button" class="btn btn-success" (click)="getFormList()">Home</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>

    </div>
  </div>
</div>
