<div class="container">
  <div class="row">
    <div class="col-md-12">

        <h2>{{title}}</h2>
        <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-body">

              <form>
                <div class="form-group row">
                  <label for="txtName" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="txtName" id="txtName" [(ngModel)]="DataOpject.Name" >
                  </div>
                </div>

                <div class="form-group row">
                  <label for="txtFatherName" class="col-sm-2 col-form-label">Father Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="txtFatherName" id="txtFatherName" [(ngModel)]="DataOpject.FatherName" >
                  </div>
                </div>

                <div class="form-group row">
                  <label for="txtGender" class="col-sm-2 col-form-label">Gender</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="txtGender" id="txtGender" [(ngModel)]="DataOpject.Gender" >
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="txtEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="txtEmail" id="txtEmail" [(ngModel)]="DataOpject.Email" >
                  </div>
                </div>

                <div class="form-group row">
                  <label for="txtDOB" class="col-sm-2 col-form-label">Date of Birth</label>
                  <div class="col-sm-6">
                    <input type="date" class="form-control" name="txtDOB" id="txtDOB" [(ngModel)]="DataOpject.DOB" >
                  </div>
                </div>


                <div class="form-group row">
                  <label for="txtContactNo" class="col-sm-2 col-form-label">Contact No</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="txtContactNo" id="txtContactNo" [(ngModel)]="DataOpject.Contact" >
                  </div>
                </div>

                <div class="form-group row">
                  <label for="txtDepartment" class="col-sm-2 col-form-label">Department</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="txtDepartment" id="txtDepartment" [(ngModel)]="Depart">
                      <option value="">Select</option>
                      <option *ngFor="let depart of resultDepartData[0]" value="{{depart.id}}">{{depart.depart_name}}</option>

                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="txtDesignation" class="col-sm-2 col-form-label">Designation</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="txtDesignation" id="txtDesignation" [(ngModel)]="Desig">
                      <option value="">Select</option>
                      <option *ngFor="let depart of resultDesigData[0]" value="{{depart.id}}">{{depart.desig_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" (click)="addEmployee()">Save</button> &nbsp;
                    <button type="button" class="btn btn-success" (click)="getFormList()">Home</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>

    </div>
  </div>
</div>


