<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>

        <p>{{post.body}}</p>
        <hr>
        <br>
        <a class="btn btn-success" routerLink="/posts" routerLinkActive="active">Back to Posts</a>
      </div>

    </div>
  </div>
</div>
