<div class="container">
  <div class="row">
    <h4>Gallary</h4>
  </div>


  <div class="row">

    <div class="col-md-4" *ngFor="let photo of photos">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="{{photo.url}}" alt="{{photo.url}}" style="height: 225px; width: 100%; display: block;" src="{{photo.url}}" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">{{photo.title}}</p>
          <div class="d-flex justify-content-between align-items-center">

          </div>
        </div>
      </div>
    </div>


  </div>
</div>

