<!--<button type="button" class="btn btn-danger" (click)="createPost()">New Post</button>-->
<!--<button type="button" class="btn btn-danger" (click)="updatePost()">Update Post</button>-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="blog-post" *ngFor="let post of posts">
        <h2 class="blog-post-title"><a [routerLink]="[post.id]">{{post.title}}</a></h2>

        <p>{{post.body}}</p>
        <hr>
        <br>

      </div>

    </div>
  </div>
</div>

