<form [formGroup]="myForm" >
  <div class="form-row">
    <div *ngFor="let field of fields" class="form-group col-md-6">

      <div *ngIf="field.type == 'text'" >
        <label [for]="field.id">{{field.title}}:</label>
        <input type="text" [id]="field.id" [name]="field.name" class="form-control" [formControl]="myForm.get(field.id)" />
      </div>

      <div *ngIf="field.type == 'number'" >
        <label [for]="field.id">{{field.title}}:</label>
        <input type="number" [id]="field.id" [name]="field.name" class="form-control" [formControl]="myForm.get(field.name)" />
      </div>

      <div *ngIf="field.type == 'email'" >
        <label [for]="field.id">{{field.title}}:</label>
        <input type="email" [id]="field.id" [name]="field.name" class="form-control" [formControl]="myForm.get(field.name)" />
      </div>

      <div *ngIf="field.type == 'date'" >
        <label [for]="field.id">{{field.title}}:</label>
        <input type="date" [id]="field.id" [name]="field.name" class="form-control" [formControl]="myForm.get(field.name)" />
      </div>

      <div *ngIf="field.type == 'checkbox'" >
        <div class="custom-control custom-checkbox">
          <input type="checkbox" [id]="field.id" [name]="field.name" class="custom-control-input" [formControl]="myForm.get(field.name)" />
          <label [for]="field.id" class="custom-control-label">{{field.title}}</label>
        </div>
      </div>

      <div *ngIf="field.type == 'radio'" >
        <div class="custom-control custom-radio">
          <input type="radio" [id]="field.id" [name]="field.name" class="custom-control-input" [formControl]="myForm.get(field.name)" />
          <label [for]="field.id" class="custom-control-label">{{field.title}}</label>
        </div>
      </div>

      <div *ngIf="field.type == 'select'">
        <label [for]="field.id">{{field.title}}</label>
        <select [id]="field.id" [name]="field.name" class="form-control" [formControl]="myForm.get(field.name)">
          <option *ngFor="let row of field.choose" [value]="row.key" [selected]="row.selected">
            {{row.value}}
          </option>
        </select>
      </div>

    </div>
  </div>
</form>
